# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# next.js
/out/

# production
./frontend/build

# misc
.DS_Store
*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
./frontend/.vercel
/frontend/node_modules/
/frontend/.next
./frontend/.next
